/*---colors
amarillo: FED136
gris: #585858;
font: font-family: 'Satisfy', cursive;*/
/*-----------------------------NAV*/
.first-section {
	background: url(../img/header-bg.jpg);
	background-repeat: no-repeat;
	height: 820px; /*esto utilizara el 100% del alto de la pantalla*/
	background-size: cover;
}

.navbar-inverse {
	background: transparent;
	border: none;
}

.navbar-inverse .navbar-toggle{
	background-color: #FED136;
	color: white;
	font-weight: bold;
}

.toggle-label {
	color: white;
}

.sr-only {
	color: #fff;
}

.navbar-collapse {
	font-weight: bold;
	color: #fff;
	padding: 5px;
  
}

.navbar-left {
	color : #FED136;
	font-size: 30px;
	font-family: 'Satisfy', cursive;
	margin-top: 13px;
}

#studio {
	color: #fff;
	margin-top: 280px;
	font-family: 'Satisfy', cursive;
}

#toomeet {
   	font-weight: bold;
	color: #fff;
	font-size: 70px;
}

.btn-default{
	background-color: #FED136;
	color: #fff;
	margin-left: 500px;
	border: none;
	font-weight: bold;
	width: 200px;
	height: 70px;
}
/*----------------------------------SERVICES*/

.section-two {
	height: 1000px;
}

.text {   /*titulo Services*/
 	color: black;
 	font-size: 40px;
 	font-weight: bold;
 	margin-top: 360px;
}
.Subtext{ /*Subittulo services*/
	font-size: 25px;
	font-family: 'Times New Roman', cursive;
}
.fa-stack { /*circulo iconos*/
	color: #FED136;
	margin-left: 115px;
}

.subtituloservices {
	font-size: 20px;
	margin-left: 100px;
	font-weight: bold;

}
.parrafoS{
	font-size: 20px;
	color: #585858;
	text-align: justify; /*pone centrada el texto*/
	font-family: 'Times New Roman';
}

/*---------------------------SECCION PORTAFOLIO*/
.section-three{
	height: 1000px;
	background-color: #EEEEEE;
}
.gallery_product{
    
    margin-bottom: 30px;
}

.portafolio-title{
	font-size: 50px;
	font-weight: bold;
	padding-top: 3px;
	margin-left: 500px;
}

.portafolio-subtitle {
	font-family: 'Times New Roman', cursive;
	font-size: 20px;
	color: #585858;
	margin-left: 482px;
	margin-bottom: 50px;
	margin-top: 20px;
}


.textportafolio{
	font-size: 20px;
	font-weight: bold;
	text-align: center;

}

.portafoliosubtext {
	font-family: 'Times New Roman', cursive;
	color: #585858;
	text-align: center;
	font-size: 16px;
}

.img-responsive {
	border-bottom: 30px;
	border-color: white;
}