/*---colors
amarillo: FED136
gris: #585858;
font: font-family: 'Satisfy', cursive;*/
/*-----------------------------NAV*/
.first-section {
	background: url(../img/header-bg.jpg);
	background-repeat: no-repeat;
	height: 820px; /*esto utilizara el 100% del alto de la pantalla*/
	background-size: cover;
}

.navbar-inverse {
	background: transparent;
	border: none;
}

.navbar-inverse .navbar-toggle{
	background-color: #FED136;
	color: white;
	font-weight: bold;
}

.toggle-label {
	color: white;
}

.sr-only {
	color: #fff;
}

.navbar-collapse {
	font-weight: bold;
	color: #fff;
	padding: 5px;
  
}

.navbar-left {
	color : #FED136;
	font-size: 30px;
	font-family: 'Satisfy', cursive;
	margin-top: 13px;
}

#studio {
	color: #fff;
	margin-top: 280px;
	font-family: 'Satisfy', cursive;
}

#toomeet {
   	font-weight: bold;
	color: #fff;
	font-size: 70px;
}

.btn-default{
	background-color: #FED136;
	color: #fff;
	margin-left: 500px;
	border: none;
	font-weight: bold;
	width: 200px;
	height: 70px;
}
/*----------------------------------SERVICES*/

.section-two {
	height: 1000px;
}

.text {   /*titulo Services*/
 	color: black;
 	font-size: 40px;
 	font-weight: bold;
 	margin-top: 360px;
}
.Subtext{ /*Subittulo services*/
	font-size: 25px;
	font-family: 'Times New Roman', cursive;
}
.fa-stack { /*circulo iconos*/
	color: #FED136;
	margin-left: 115px;
}

.subtituloservices {
	font-size: 20px;
	margin-left: 100px;
	font-weight: bold;

}
.parrafoS{
	font-size: 20px;
	color: #585858;
	text-align: justify; /*pone centrada el texto*/
	font-family: 'Times New Roman';
}

/*---------------------------SECCION PORTAFOLIO*/
.section-three{
	height: 1000px;
	background-color: #EEEEEE;
}
.gallery_product{
    
    margin-bottom: 30px;
}

.portafolio-title{
	font-size: 50px;
	font-weight: bold;
	padding-top: 3px;
	margin-left: 500px;
}

.portafolio-subtitle {
	font-family: 'Times New Roman', cursive;
	font-size: 20px;
	color: #585858;
	margin-left: 482px;
	margin-bottom: 50px;
	margin-top: 20px;
}


.textportafolio{
	font-size: 20px;
	font-weight: bold;
	text-align: center;

}

.portafoliosubtext {
	font-family: 'Times New Roman', cursive;
	color: #585858;
	text-align: center;
	font-size: 16px;
}

.img-responsive {
	border-top: 30px;
	border-color: white;
}

/*---------------SECTION ABOUT*/

.section-four {
	height: 1000px;

}

.about-title{
	margin-top: 225px;
	margin-left: 591px;
	font-weight: bold;

}

.año {
	text-align: right;
	font-weight: bold;
	font-size: 16px;
}
.aboutsubtext{
	text-align: right;
	font-weight: bold;
}

.aboutext {
	text-align: right;
 	color: #585858;
	font-family: cursive;
}

.imgabout1 {
	border-radius: 50%;
	border: 5px solid #E6E6E6;
	width: 150px;
	height: 150px;
}
/*img 2 con texto */

.imgabout2{
	margin-top: 50px;
	border-radius: 50%;
	border: 5px solid #E6E6E6;
	width: 150px;
	height: 150px;

}

.año2 {
	text-align: left;
	font-weight: bold;
	margin-left: -70px;
	margin-top: 30px;
	font-size: 16px;
}
.aboutsubtext2{
	text-align: left;
	font-weight: bold;
	margin-left: -70px;
}


.aboutext2{
	text-align: left;
	color: #585858;
	font-family: cursive;
	margin-left: -71px;
}

/*img 3 con texto */

.año3 {
	text-align: right;
	font-weight: bold;
	font-size: 16px;
	margin-top: 50px;
}
.aboutsubtext3{
	text-align: right;
	font-weight: bold;
}

.aboutext3 {
	text-align: right;
 	color: #585858;
	font-family: cursive;
}

.imgabout3 {
	border-radius: 50%;
	border: 5px solid #E6E6E6;
	width: 150px;
	height: 150px;
	margin-top: 50px;
}

/*Imagen 4 con texto*/
.imgabout4{
	margin-top: 50px;
	border-radius: 50%;
	border: 5px solid #E6E6E6;
	width: 150px;
	height: 150px;

}

.año4 {
	text-align: left;
	font-weight: bold;
	margin-left: -70px;
	margin-top: 30px;
	font-size: 16px;
}
.aboutsubtext4{
	text-align: left;
	font-weight: bold;
	margin-left: -70px;
}


.aboutext4{
	text-align: left;
	color: #585858;
	font-family: cursive;
	margin-left: -71px;
}

/*circulo amarillo ultima*/

.circulo {
	margin-top: 50px;
	border-radius: 50%;
	border: 5px solid #E6E6E6;
	width: 150px;
	height: 150px;
	background-color: #FED136;

}

.circulo p{
	margin-left: 24px;
	margin-top: 52px;
	color: white;
	font-weight: bold;
	font-size: 16px;

}

/*---------------------------SECCION TEAM*/
.section-five {
	height: 1000px;
	background-color: #EEEEEE;
	margin-top: 450px;
}

.team-title {
	font-size: 30px;
	font-weight: bold;
	margin-left: 500px;
	margin-top: 150px;
}

.team-subtitle{
	font-size: 16px;
	font-family: cursive;
	margin-left: 524px;
}


/*--REDES SOCIALES*/
.social{
    text-align:center;
    width:120px;
    height:120px;
    float:left;
    background:rgb(255,255,255);
    border:1px solid rgb(204,204,204);
    box-shadow:0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius:100px;
    margin:0 10px 10px 0;
    padding:19px;
}





